<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="IntermediateUrl" value="http://tutorialsninja.com/demo"/>
		<add key ="BeginnerUrl" value="https://jqueryui.com/demos/"/>
		<add key="Browser" value="Chrome"/>
		<add key="Username" value="chiplunkarbhavesh@gmail.com"/>
		<add key="Password" value="Practisepass"/>
	</appSettings>
</configuration>